body{
    background-color: #efefef;
}
.main{
    margin: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 5px rgba(0,0,0,0.5), -10px 10px 10px 10px rgba(255,255,255,0.5);
    padding-bottom:20px;
}
.btn-right{
    float: right;
    height: 4rem;
    width: 8rem;
}