<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IOT学习社区</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<!--导航区域-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
<!--            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"-->
<!--                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
<!--                <span class="sr-only">Toggle navigation</span>-->
<!--            </button>-->
            <a class="navbar-brand" href="/">IOT学习社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入话题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user == null}"><a
                        href="https://github.com/login/oauth/authorize?client_id=c031f623a15031c6a352&redirect_uri=http://localhost:8088/callback&scope=user&state=1">
                    登录</a></li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="'你好，'+ ${session.user.getName()}"></a>
<!--                    <img class="img-circle img-responsive" th:src="${session.user.getAvatar_url()}"-->
<!--                         th:alt="${session.user.getName()}">-->
<!--                    <span class="caret"></span>-->
                    <ul class="dropdown-menu">
                        <li><a href="/publish">发布问题</a></li>
                        <li><a href="#">个人中心</a></li>
                        <li><a href="#">消息</a></li>
                        <li><a href="#">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >-->
<!--    <h3>分类</h3>-->
<!--</div>-->
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h1><span class="glyphicon glyphicon-list icon-homepage" aria-hidden="true"></span>发现</h1>
            <hr>
            <div class="media" th:each="news : ${ questions }">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object avatar-publisher img-rounded"
                             th:src="${news.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${news.getTitle()}"></h4>
                    <span th:text="${news.getDescription()}"></span>
                    <p><span th:text="${news.getCommentCount()}"></span>个回复
                        · <span th:text="${news.getViewCount()}"></span>次预览
                        · <span th:text="${#dates.format(news.getGmtCreate())}"></span>
<!--                        · <span th:text="${}"></span>-->
                    </p>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
        </div>
    </div>
</div>

<link rel="stylesheet" href="css/Community.css">
</body>
</html>